<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">

       <!-- IOC容器的扫描注册 -->
       <context:component-scan base-package="com.company" use-default-filters="false">
              <context:include-filter type="annotation"
                                      expression="org.springframework.stereotype.Controller"/>
              <context:include-filter type="annotation"
                                      expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
       </context:component-scan>

       <!-- 拦截器 -->
       <mvc:interceptors>
              <!-- 权限检查 -->
              <bean class="com.company.demo.auth.PermissionCheckInterceptor"></bean>
       </mvc:interceptors>

       <!-- 配置处理静态资源的servlet，主要用于DispatcherServlet的请求处理路径为/的情况 -->
       <mvc:default-servlet-handler/>

       <!-- 配置视图解析器 -->
       <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
              <property name="prefix" value="/WEB-INF/pages/"/>
              <property name="suffix" value=".jsp"/>
       </bean>

       <!-- 避免IE在ajax请求时，返回json出现下载 -->
       <bean id="jacksonMessageConverter"
             class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"
               >
              <property name="supportedMediaTypes">
                     <list>
                            <value>text/html;charset=UTF-8</value>
                     </list>
              </property>
       </bean>
       <!-- 启动Spring MVC的注解功能，完成请求和注解POJO的映射 -->
       <mvc:annotation-driven>
              <mvc:message-converters register-defaults="true">
                     <ref bean="jacksonMessageConverter"/>
              </mvc:message-converters>
       </mvc:annotation-driven>

</beans>